.pointer-cursor{
    cursor: pointer;
}
.text-cursor{
    cursor: text;
}
.grab-cursor{
    cursor: grab;
}
.wait-cursor{
    cursor: wait;
}
.not-allowed-cursor{
    cursor: not-allowed;
}
.crosshair-cursor{
    cursor: crosshair;
}
.url-cursor{
    cursor: url('cursor-img/cursor.jpg'), auto;
}